<div class="container py-5 ">
  <div class="row justify-content-md-center py-5 ">
    <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6 py-5 ">
      <h2 class="mb-4 display-5 text-center py-5 ">You are Normal User</h2>
      <p class="text-secondary text-center lead fs-4 mb-5">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, fugiat assumenda. Nemo animi non quisquam, nihil laborum, perspiciatis sunt praesentium fuga soluta ab delectus aliquid ullam fugiat deserunt minus. Magnam.</p>
      <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
    </div>
  </div>
</div>
