<div class="row py-5">
  <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
    <h1 class="">Welcome, {{user.UserName}}!  </h1>
    <p class="">Efficiently manage your business with our platform.</p>
    <div class="d-flex">
        <a [routerLink]="['/Dashboard']"  class=" text-center btn-watch-video nav-link d-flex align-items-center">
            Go to Dashboard
        </a>
    </div>
  </div>
  <div class="col-lg-6 order-1 order-lg-2 hero-img">
    <img class="img-fluid animated" src="../../assets/homeAdmin.png" alt="">
  </div>
</div>
